body {
  background: #f0f0f0;
  font-family: Arial;
}

.container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

h2 {
  text-align: center;
  color: #333;
}

input, textarea {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0056b3;
}
